{% load static %}
<html>
<head>
    <title>Facebook Aquarium</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script type="text/javascript" src="//connect.facebook.net/en_US/all.js"></script>
</head>
<body>
<div id="fb-root"></div>
</script>

<!--
  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
  present a graphical Login button that triggers the FB.login() function when clicked. -->
<!--
<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
-->
<!--
<div id="friends_list" height="250px"></div>
<div id="container" width="100%" height="100%">
-->
    <canvas id="canvas"></canvas>
</body>
</html>
